
/* GERAIS */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8F8FF;
}

a {
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


/* TOPO */
.topo{
    display: flex;
    width: 100%;
    background-color: darkslateblue;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    color: white;
    position: sticky;
    top: 0;
}

.imagem{
    flex: 1;
    display: flex;
    align-items: center;
}

.imagem img {
    padding: 15px;
}

.imagem h3 {
    margin-left: 20px;
}

.menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 15px;
}

.menu a:hover {
    color: aquamarine;
}

/* CONTEUDO */
.conteudo{
    width: 90%;
    font-size: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: linear-gradient(to left, #4b0082, darkslateblue 30%, #3cb371);
    border-radius: 10px;
    margin-bottom: 50px;
}

.titulo h1 {
    color: white;
    font-size: 72px;
}

/* RODAPE */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: darkslateblue;
    margin-top: 100px;
    color: white;
}